.footer {
     padding: 70px 0;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     &-title {
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 2rem;
     }
     &-social {
          display: flex;
          margin-top: 1rem;
          &-item {
               cursor: pointer;
               margin-right: 1rem;
               border-radius: 50%;
               padding: 10px;
               box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          }
          &-item:first-child {
               background-color: #3B5998;
          }
          &-item:nth-child(2) {
               background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
          }
          &-item:nth-child(3) {
               background-color: #3CF;
          }
     }
     &-content {
          & p {
               margin-bottom: 1rem;
          }
     }
}